@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
  --dark: #333232;
  --primary-text: #095165;
  --primary-color: #73E1FF;
  --primary-hover: #4AC8EB;
  --grey: #F5F5F5;
  --grey-hover: #EDEDED;
  --hover-destruction: #FFD5D5;

  --bdr-grey: rgb(154, 154, 154, 0.25);
  --bdr-input: rgb(137, 137, 137, 0.35);

  --hover-grey: #DDDADA;

  --font-style: 'Manrope';

  font-family: 'Manrope';
}

#root {
  display: flex;
  justify-content: center;
}

.primary-add-btn{
  width: 100%;
  color: var(--primary-text);
  background-color: var(--primary-color);
  border-radius: 12px;
  font: 600 1rem/1.5rem 'Manrope';
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.secondary-add-btn{
  width: 100%;
  color: var(--dark);
  background-color: var(--grey);
  border: 1px solid var(--bdr-grey);
  border-radius: 12px;
  font: 600 1rem/1.5rem 'Manrope';
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.font-btn{
  width: 100%;
  color: var(--dark);
  background-color: var(--grey);
  border: 1px solid var(--bdr-grey);
  border-radius: 12px;
  font: 600 1rem/1.5rem 'Manrope';
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}


.primary-add-btn:hover{
  cursor: pointer;
  background-color: var(--primary-hover);
}

.secondary-add-btn:hover{
  cursor: pointer;
  background-color: var(--grey-hover);
}

.font-btn:hover{
  cursor: pointer;
  background-color: var(--grey-hover);
}

.card-collapse{
  background-color: white;
  padding: 32px 24px;
  border-radius: 12px;
  border: 1px solid var(--bdr-grey);
}

.card-collapse-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-collapse-btn:hover{
  cursor: pointer;
}

.card-header-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2{
  color: var(--dark);
  font: 700 2rem/3rem 'Manrope';
  margin: 0px;
}

h3{
  color: var(--dark);
  font: 700 1.5rem/2rem 'Manrope';
  margin: 0px;
}

h4{
  color: var(--dark);
  font: 600 1.25rem/2rem 'Manrope';
  margin: 0px;
}

h5{
  color: var(--dark);
  font: 600 1rem/1.5rem 'Manrope';
  margin: 0px;
}

.input-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-main{
  border: 1px solid var(--bdr-input);
  border-radius: 8px;
  padding: 6px 8px;
  width: 100%;
  font: 400 1rem/1.5rem 'Manrope';
  box-sizing: border-box;
  margin-top: 4px;
}

.input-text-area{
  border: 1px solid var(--bdr-input);
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  height: 72px;
  font: 400 1rem/1.5rem 'Manrope';
  box-sizing: border-box;
  resize: none; 
  margin-top: 4px;
}

.info-block{
  width: 100%;
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-block{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

label{
  font: 500 1rem/1.5rem 'Manrope';
}

.med-icon-btn{
  padding: 4px;
  display: flex;
  flex-direction: center;
  align-items: center;
  border-radius: 6px;
  box-sizing: border-box;
}

.small-icon-btn{
  padding: 4px;
  display: flex;
  flex-direction: center;
  align-items: center;
  border-radius: 4px;
  width: 24px;
  box-sizing: border-box;
}


.med-icon-btn:hover{
  background-color: var(--hover-grey);
  cursor: pointer;
}

.small-icon-btn:hover{
  background-color: var(--hover-grey);
  cursor: pointer;
}

.med-icon-btn.destruct-hover:hover {
  background-color: var(--hover-destruction);
}

.small-icon-btn.destruct-hover:hover {
  background-color: var(--hover-destruction);
}

.block-action-container{
  display: flex;
  gap: 8px;
}

.start-end-date{
  display: flex;
  gap: 16px;
}

.space-between-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.space-between-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gap-container{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
}

.two-btn-container{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.flex-container{
  width: 100%;
  display: flex;
  gap: 32px;
  justify-content: center;
  padding: 0px 32px 0px 32px;
}

.resume-preview-container{
  padding: 16px 0px 16px 0px;
  height: 100vh;
  max-width: 50vw;
  box-sizing: border-box;
  position: sticky;
  top: 0px;
}

.resume-inputs-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 560px;
  padding: 16px 0px 16px 0px;
}

.resume-preview{
  height: 100%;
  aspect-ratio: 1 / 1.414  ;
  background-color: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
  overflow: scroll;
  overflow-y: auto;  
  overflow-x: hidden;
  scrollbar-gutter: stable; 
}

.divider{
  width: 100%;
  height: 0px;
  border: 1px solid #9e9e9eae;
  margin: 8px 0px;
}

.preview-h2{
  font: 700 2rem/3rem var(--font-style);
}

.preview-h3{
  font: 700 1.25rem/1.5rem var(--font-style);
}

.preview-h4{
  font: 600 1rem/1.5rem var(--font-style);
}

.preview-h5{
  font: 600 1rem/1.5rem var(--font-style);
}

.preview-p{
  font-family: var(--font-style);
  font-size: 1rem;
}

p{
  margin: 2px 0px;
}

ul{
  padding-left: 24px;
  font: 400 1rem/1.25rem var(--font-style);
  margin: 8px 0px;
}

.contact-links-container{
  display: flex;
  gap: 16px;
  align-items: center;
}

.serif-icon{
  font: 700 1.25rem/1.5rem 'Times New Roman', Serif;
}

.sans-serif-icon{
  font: 700 1.25rem/1.5rem 'Manrope', Sans-Serif;
}

.mono-icon{
  font: 700 1.25rem/1.5rem monospace;
}